<div class="grid">
   <div class="col-12">
       <div class="card px-6 py-6">
           <p-toast></p-toast>
           <p-toolbar styleClass="mb-4">
               <ng-template pTemplate="left">
                   <div class="my-2">
                       <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                       <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                   </div>
               </ng-template>

               <ng-template pTemplate="right">
                   <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                   <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
               </ng-template>
           </p-toolbar>

           <p-table #dt [value]="payments" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
               <ng-template pTemplate="caption">
                   <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                       <h5 class="m-0">Gestion Utilisateur</h5>
                       <span class="block mt-2 md:mt-0 p-input-icon-left">
                           <i class="pi pi-search"></i>
                           <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                       </span>
                   </div>
               </ng-template>
               <ng-template pTemplate="header">
                   <tr>
                       <th style="width: 3rem">
                           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                       </th>

                       <th pSortableColumn="code">Nom sur la carte  <p-sortIcon field="code"></p-sortIcon></th>
                       <th pSortableColumn="name">Montant <p-sortIcon field="name"></p-sortIcon></th>
                       <th pSortableColumn="price">Statut <p-sortIcon field="price"></p-sortIcon></th>
                       <th pSortableColumn="price">Pays <p-sortIcon field="price"></p-sortIcon></th>

                       <th ></th>
                       <th></th>
                       <th ></th>
                       <th ></th>
                       <th></th>
                   </tr>
               </ng-template>
               <ng-template pTemplate="body" let-payment>
                   <tr>
                       <td>
                           <p-tableCheckbox [value]="payment"></p-tableCheckbox>
                       </td>
                      
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Nom</span>
                           {{payment.name_on_Card}}
                       </td>
                      
                       <td style="width:14%; min-width:8rem;">
                           <span class="p-column-title">Montant</span>
                           {{payment.montant | currency:'TN'}}
                       </td>
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Statut</span>
                           {{payment.statusType}}
                       </td>
                       <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Pays</span>
                        {{payment.country}}
                    </td>
                    <td>
                        <button pButton pRipple label="Accepter" class="p-button-rounded p-button-success" (click)="validatePayment(payment.id_payment, $event)"></button>
                    </td>
                       <td>
                         <button pButton pRipple label="Refuser" class="p-button-rounded p-button-danger" (click)="declinePayment(payment.id_payment)"></button>
                       </td>
                       <td>
                        <div class="flex">
                       <button pButton pRipple  class="p-button-rounded p-button-success p-button-outlined" [routerLink]="['/detailspayement', payment.id_payment]">View Details</button>
                        </div>
                       </td>


                      
                       <td>
                           <div class="flex">
                            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="deleteProduct(payment)"></button>
                           </div>
                       </td>
                     
                   </tr>
               </ng-template>
           </p-table>
       </div>

       <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Payement Details" [modal]="true" class="p-fluid">
           <ng-template pTemplate="content">
               <div class="field">
                   <label for="name">Nom</label>
                   <input type="text" pInputText id="name" [(ngModel)]="payment.name_on_Card" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !payment.name_on_Card}"  />
                   <small class="ng-dirty ng-invalid" *ngIf="submitted && !payment.name_on_Card">Name is required.</small>
               </div>
               <div class="field">
                   <label for="description">Numero du carte</label>
                   <input id="description" pInputText [(ngModel)]="payment.card_Number" required rows="3" cols="20">
               </div>
               <div class="field">
                   <label for="description">MM</label>
                   <input  id="description" pInputText [(ngModel)]="payment.mm" required rows="3" cols="20">
               </div>
               

               <div class="field">
                   <div class="field">
                       <label for="name">YY</label>
                       <input type="text" pInputText id="name" [(ngModel)]="payment.yy" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !payment.yy}"  />
                       <small class="ng-dirty ng-invalid" *ngIf="submitted && !payment.yy">Name is required.</small>
                   </div>
               </div>

               <div class="field">
                       <label for="price">CVV</label>
                       <p-inputNumber id="price" [(ngModel)]="payment.cvv" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                   
               </div>
               <div class="field">
                   <label for="quantity">Statut</label>
                   <p-multiSelect id="quantity" [(ngModel)]="payment.statusType"></p-multiSelect>
               </div>
               <div class="field">
                <label for="price">Montant</label>
                <p-inputNumber id="price" [(ngModel)]="payment.montant" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            
        </div>
           </ng-template>

           <ng-template pTemplate="footer">
               <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
               <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
           </ng-template>
       </p-dialog>
      

       <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
               <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
           </ng-template>
       </p-dialog>

       <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span>Are you sure you want to delete selected products?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
               <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
           </ng-template>
       </p-dialog>
   </div>
</div>

