<div class="grid">
   <div class="col-12">
       <div class="card px-6 py-6">
           <p-toast></p-toast>
           <p-toolbar styleClass="mb-4">
               <ng-template pTemplate="left">
                   <div class="my-2">
                       <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                       <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                   </div>
               </ng-template>

               <ng-template pTemplate="right">
                   <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                   <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
               </ng-template>
           </p-toolbar>

           <p-table #dt [value]="ressources" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
               <ng-template pTemplate="caption">
                   <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                       <h5 class="m-0">Gestion Ressource</h5>
                       <span class="block mt-2 md:mt-0 p-input-icon-left">
                           <i class="pi pi-search"></i>
                           <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                       </span>
                   </div>
               </ng-template>
               <ng-template pTemplate="header" >
                   <tr>
                       <th style="width: 3rem">
                           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                       </th>

                       <th pSortableColumn="code">Nom <p-sortIcon field="code"></p-sortIcon></th>
                       <th pSortableColumn="name">Description <p-sortIcon field="name"></p-sortIcon></th>
                       <th pSortableColumn="price">type <p-sortIcon field="price"></p-sortIcon></th>
                   
                       <th></th>
                       <th></th>
                       <th></th>

                   </tr>
               </ng-template>
               <ng-template pTemplate="body"  >
                   <tr *ngFor="let r of ressources">
                       <td>
                           <p-tableCheckbox [value]="ressources"></p-tableCheckbox>
                       </td>
                      
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Name</span>
                           {{r.nomRs}}
                       </td>
                       
                      
                       <td style="width:14%; min-width:8rem;">
                           <span class="p-column-title">Description</span>
                           {{r.descriptionRs}}
                       </td>
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Type</span>
                           {{r.typeRessources}}
                       </td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td>
                           <div class="flex">
                               <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(r)"></button>
                               <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(r)"></button>
                           </div>   
                       </td>
                   </tr>
               </ng-template>
           </p-table>
       </div>

       <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Details du Ressource" [modal]="true" class="p-fluid">
           <ng-template pTemplate="content">
               <div class="field">
                   <label for="name">Nom</label>
                   <input type="text" pInputText id="name" [(ngModel)]="ressource.nomRs" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"  />
                   <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
               </div>
               <div class="field">
                   <label for="description">Description</label>
                   <input id="description" pInputText [(ngModel)]="ressource.descriptionRs" required rows="3" cols="20">
               </div>
               <div class="field">
                   <label for="description">Type</label>
                   <input  id="description" pInputText [(ngModel)]="ressource.typeRessources" required rows="3" cols="20">
               </div>
               <div class="field">
                   <label for="status">Proprietaire</label>
                   <p-dropdown  inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                       <ng-template pTemplate="selectedItem">
                           <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span>
                       </ng-template>
                       <ng-template let-option pTemplate="item">
                           <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                       </ng-template>
                   </p-dropdown>
               </div>

              
           </ng-template>

           <ng-template pTemplate="footer">
               <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
               <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateRessource(ressource)"></button>
           </ng-template>
       </p-dialog>



       <p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" header="Ajouter Ressource" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nom</label>
                <input type="text" pInputText id="name" [(ngModel)]="res.nomRs" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"  />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <input id="description" pInputText [(ngModel)]="res.descriptionRs" required rows="3" cols="20">
            </div>
            <div class="field">
                <label for="description">Type</label>
                <input  id="description" pInputText [(ngModel)]="res.typeRessources" required rows="3" cols="20">
            </div>
            <div class="field">
                <label for="status">Proprietaire</label>
                <p-dropdown  inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>

           
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addRessources()"></button>
        </ng-template>
    </p-dialog>


       <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
               <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"></button>
           </ng-template>
       </p-dialog>

       <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span>Are you sure you want to delete selected products?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
               <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
           </ng-template>
       </p-dialog>
   </div>
</div>

