<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>Liste des reclamations</h5>
		<p-table [value]="reclamationRequests || []" rowGroupMode="subheader" groupRowsBy="representative.name" sortField="representative.name" sortMode="single" (onSort)="onSort()" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
		  <ng-template pTemplate="header">
			<tr>
			  <th>Name</th>
			  <th>Description</th>
			  <th>Statut</th>
			  <th>Actions</th>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="body" let-reclamation let-rowIndex="rowIndex">
			<tr [ngClass]="{ 'done-row': reclamation.status === 'Done', 'not-done-row': reclamation.status === 'Not Done' }">
			  <td style="min-width: 200px;">{{reclamation.name}}</td>
			  <td style="min-width: 200px;">{{reclamation.details}}</td>
			  <td style="min-width: 200px;">{{reclamation.status}}</td>
			  <td>
			 <td>
					<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="showUpdateDialog(reclamation)"></button>
					<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="showDeleteConfirmation(reclamation)"></button>
			 </td>
			  
			</tr>
		  </ng-template>
		</p-table>


<app-dialog 
  [reclamation]="selectedReclamation"
  [display]="displayUpdateDialog"
  (update)="updateReclamation($event)"
  (close)="closeUpdateDialog()"
  class="app-dialog"
> 
</app-dialog>


<app-delete-dialog 
  [display]="displayDeleteConfirmation" 
  (confirm)="deleteReclamation()"
  (cancel)="cancelDelete()"
  class="app-delete-dialog"
>
</app-delete-dialog>


	  </div>
	</div>
  </div>
