.done-row {
  background-color: green;
  color: white; /* Change text color to make it readable */
}

.not-done-row {
  background-color: red;
  color: white; /* Change text color to make it readable */
}