<div class="grid">
   <div class="col-12">
       <div class="card px-6 py-6">
           <p-toast></p-toast>
           <p-toolbar styleClass="mb-4">
               <ng-template pTemplate="left">
                   <div class="my-2">
                       <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                       <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                   </div>
               </ng-template>

               <ng-template pTemplate="right">
                   <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                   <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
               </ng-template>
           </p-toolbar>

           <p-table #dt [value]="echanges" [columns]="cols" responsiveLayout="scroll" [rows]="6" [globalFilterFields]="['name','pays','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[6,12,18]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
               <ng-template pTemplate="caption">
                   <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                       <h5 class="m-0">Gestion Programme d'echange</h5>
                       <span class="block mt-2 md:mt-0 p-input-icon-left">
                           <i class="pi pi-search"></i>
                           <input  pInputText
                           type="text"
                           (input)="onSearchInputChange()"
                           placeholder="Rechercher..."
                           [(ngModel)]="searchTerm" class="w-full sm:w-auto"/>
                       </span>
                   </div>
               </ng-template>
               <ng-template pTemplate="header">
                   <tr >
                       <th style="width: 3rem">
                           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                       </th>

                       <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                       <th pSortableColumn="pays">Pays Partenaires <p-sortIcon field="pays"></p-sortIcon></th>
                       <th pSortableColumn="nbparticipant">Nombre de participants <p-sortIcon field="nbparticipant"></p-sortIcon></th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                   </tr>
               </ng-template>
               <ng-template pTemplate="body" let-echange>
                   <tr >
                       <td>
                           <p-tableCheckbox [value]="echange"></p-tableCheckbox>
                       </td>
                      
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Nom</span>
                           {{echange.nom}}
                       </td>
                      
                      
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Pays Partenaires</span>
                           {{echange.pays}}
                       </td>
                     
                       <td style="width:14%; min-width:10rem;">
                           <span class="p-column-title">Nombre de participants</span>
                           {{echange.nbparticipant}}
                       </td>
                       <td></td>                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>

                       <td>
                           <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEdit(echange)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteSelected(echange.id)"></button>
                           </div>
                       </td>
                   </tr>
               </ng-template>
           </p-table>
       </div>

       <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Details Programme dechange" [modal]="true" class="p-fluid">
           <ng-template pTemplate="content">
               <div class="field">
                   <label for="name">Nom</label>
                   <input type="text" pInputText id="name" [(ngModel)]="echange.nom" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !echange.nom}"  />
               </div>
               <div class="field">
                   <label for="nbparticipant">Nombre de participants</label>
                   <input pInputText [(ngModel)]="echange.nbparticipant" required rows="3" cols="20">
               </div>
               <div class="field">
                   <label for="description">Description</label>
                   <input  id="description" pInputText [(ngModel)]="echange.description" required rows="3" cols="20">
               </div>
               
               <div class="field">
                  <label for="price">Date de Debut</label>
                  <p-calendar [showIcon]="true" inputId="icon" name="dateDebut" [(ngModel)]="echange.dateDebut"></p-calendar>
               </div>

        

               <div class="field">
                       <label for="price">Date de fin</label>
                       <p-calendar [showIcon]="true" inputId="icon" name="dateFin" [(ngModel)]="echange.dateFin"></p-calendar>
                </div>
               <div class="field">
                   <label for="status">pays</label>
                    <p-dropdown [options]="paysOptions" [(ngModel)]="echange.pays" name="pays" id="pays"  placeholder="Select a Country" selected="France"></p-dropdown>
                   
                </div>              
           </ng-template>

           <ng-template pTemplate="footer">
               <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
               <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
           </ng-template>
       </p-dialog>
       <p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Details Programme dechange" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nom</label>
                <input type="text" pInputText id="nom" [(ngModel)]="selectedEchange.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedEchange.nom}"  />
            </div>
            <div class="field">
                <label for="nbparticipant">Nombre de participants</label>
                <input pInputText [(ngModel)]="selectedEchange.nbparticipant" required rows="3" cols="20">
            </div>
            <div class="field">
                <label for="description">Description</label>
                <input  id="description" pInputText [(ngModel)]="selectedEchange.description" required rows="3" cols="20">
            </div>
            
            <div class="field">
               <label for="price">Date de Debut</label>
               <p-calendar [showIcon]="true" inputId="icon" name="dateDebut" [(ngModel)]="selectedEchange.dateDebut"></p-calendar>
            </div>

     

            <div class="field">
                    <label for="price">Date de fin</label>
                    <p-calendar [showIcon]="true" inputId="icon" name="dateFin" [(ngModel)]="selectedEchange.dateFin"></p-calendar>
             </div>
            <div class="field">
                <label for="status">pays</label>
                 <p-dropdown [options]="paysOptions" [(ngModel)]="selectedEchange.pays" name="pays" id="pays"  placeholder="Select a Country" selected="France"></p-dropdown>
                
             </div>              
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="editProduct(selectedEchange)"></button>
        </ng-template>
    </p-dialog>

       <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
               <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
           </ng-template>
       </p-dialog>

       <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
           <div class="flex align-items-center justify-content-center">
               <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
               <span>Are you sure you want to delete selected products?</span>
           </div>
           <ng-template pTemplate="footer">
               <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
             <!--  <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>-->
           </ng-template>
       </p-dialog>
   </div>
</div>


