<div class="grid p-fluid">
   <div class="col-12">
       <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="Ajouter" (click)="openNew()" icon="pi pi-plus" class="p-button-success mr-2"  ></button>
                    </div>
            </ng-template>

           
        </p-toolbar>
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                     
           <h5>Gestion des événements</h5>
           <span class="block mt-2 md:mt-0 p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..."  class="w-full sm:w-auto"/>
        </span>
        </div>
           <p-carousel [value]="events" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
               <ng-template let-product  pTemplate="item">
                  
                       <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                           <div class="my-5">
                               <img src="assets/demo/images/event/organisation-seminaire-incentive-840x334.webp" [alt]="product.name" class="shadow-4" width="50%"/>
                           </div>
                           <div>
                               <h4 class="mb-1">{{product.nom}}</h4>
                               <h6 class="mt-0 mb-3">{{product.lieu}}</h6>
                               <div class="my-5">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(event)"></button>
                            </div>
                           </div>
                       </div>
               </ng-template>
           </p-carousel>
           
       </div>
     
       <p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="Modifier un événement" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
            <div class="field">
            <br><br>
                <label for="name">Nom bez</label>
                <input type="text" pInputText id="name" [(ngModel)]="event.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"  />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>  
            <div class="field">
                <label for="description">Lieu</label>
                <input id="description" pInputText [(ngModel)]="event.lieu" required rows="3" cols="20">
            </div>
            <div class="field">
                <label for="status">Type</label>
                 <p-dropdown [options]="eventOptions" [(ngModel)]="res.type" name="pays" id="pays" ></p-dropdown>
                
             </div>
            <div class="field">
                <label for="description">Date de début</label>
                <p-calendar [(ngModel)]="event.dateDeb"  id="description" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>   
            </div>
            <div class="field">
                <label for="description">Date de début</label>
                <p-calendar [(ngModel)]="event.dateFin" id="description" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>   
            </div>
            

            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="updateEvent(event)"></button>
               
        </ng-template>
    </p-dialog>



    <p-dialog [(visible)]="addDialog" [style]="{width: '500px'}" header="Ajouter un événement" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
            <div class="field">
            <br><br>
                <label for="name">Nom</label>
                <input type="text" pInputText id="name" [(ngModel)]="res.nom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"  />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>  
            <div class="field">
                <label for="description">Lieu</label>
                <input id="description" pInputText [(ngModel)]="res.lieu" required rows="3" cols="20">
            </div>
            
            <div class="field">
                <label for="status">Type</label>
                 <p-dropdown [options]="eventOptions" [(ngModel)]="res.type" name="pays" id="pays"  placeholder="Selectionner le type" selected="France"></p-dropdown>
                
             </div>
            <div class="field">
                <label for="description">Date de début</label>
                <p-calendar [(ngModel)]="res.dateDeb"  id="description" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>   
            </div>
            <div class="field">
                <label for="description">Date de fin</label>
                <p-calendar [(ngModel)]="res.dateFin" id="description" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>   
            </div>
            

            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="addEvent()"></button>
               
        </ng-template>
    </p-dialog>
   </div>   
</div>
